*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#2b1055,#7597de);
}

.calculator{
    width:340px;
    background:#1e1e2f;
    padding:25px;
    border-radius:40px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

#display{
    width:100%;
    height:80px;
    border:none;
    outline:none;
    border-radius:25px;
    background:#2c2c44;
    color:white;
    text-align:right;
    font-size:32px;
    padding:15px;
    margin-bottom:20px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:65px;
    border:none;
    border-radius:20px;
    font-size:24px;
    cursor:pointer;
    background:#3a3a5c;
    color:white;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.operator{
    background:#ff7b00;
}

.equal{
    background:#00c853;
}

.special{
    background:#e53935;
}

.zero{
    grid-column:span 2;
}